custom/languages/
custom/templates/DefaultRevamp/

modules/Core/
modules/Poll/
modules/Forum/

custom/panel_templates/assets/
custom/panel_templates/collections/
custom/panel_templates/core/
custom/panel_templates/forum/
custom/panel_templates/includes/
custom/panel_templates/integrations/
custom/panel_templates/poll/
custom/panel_templates/suggestions/
custom/panel_templates/votingplugin/
custom/panel_templates/auth.tpl
custom/panel_templates/footer.tpl
custom/panel_templates/header.tpl
custom/panel_templates/index.tpl
custom/panel_templates/navbar.tpl
custom/panel_templates/scripts.tpl
custom/panel_templates/sidebar.tpl
custom/panel_templates/template.php
custom/panel_templates/update.tpl

cache/
core/
uploads/
403.php
404.php
error.php
error.tpl
index.php
install.php
maintenance.php
rewrite_test.php
