<!DOCTYPE html>
<html style="margin: 0;padding: 0;">

<head>
    <style type="text/css">
        body {
            background-color: #fbfbfb
        }
    </style>
</head>

<body class="full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;">
    <table class="wrapper"
        style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #fbfbfb;"
        cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td>
                    <div role="banner">
                        <div class="preheader"
                            style="Margin: 0 auto;max-width: 560px;min-width: 280px; width: 280px;width: calc(28000% - 167440px);">
                            <div style="border-collapse: collapse;display: table;width: 100%;">
                                <div class="snippet"
                                    style="display: table-cell;Float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 140px; width: 140px;width: calc(14000% - 78120px);padding: 10px 0 5px 0;color: #999;font-family: Georgia,serif;">
                                </div>
                                <div class="webversion"
                                    style="display: table-cell;Float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 139px; width: 139px;width: calc(14100% - 78680px);padding: 10px 0 5px 0;text-align: right;color: #999;font-family: Georgia,serif;">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="layout one-col fixed-width stack"
                            style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
                            <div class="layout__inner"
                                style="border-collapse: collapse;display: table;width: 100%;background-color: #FFFFFF;">
                                <div class="column"
                                    style="text-align: left;color: #23272A;font-size: 14px;line-height: 21px;font-family: Georgia,serif;">
                                    <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
                                        <div style="font-size: 12px;font-style: normal;font-weight: normal;line-height: 19px;Margin-bottom: 20px;"
                                            align="center">
                                            <img style="border: 0;display: block;height: auto;width: 100%;max-width: 900px;"
                                                width="560"
                                                src="https://namelessmc.com/uploads/template_banners/homepage_bg_trimmed.jpg" />
                                        </div>
                                    </div>
                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div style="vertical-align: middle;">
                                            <p class="size-20"
                                                style="Margin-top: 0;Margin-bottom: 20px;font-size: 17px;line-height: 26px;text-align: center;"
                                                lang="x-size-20"><strong>[Sitename]</strong></p>
                                        </div>
                                    </div>

                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div style="vertical-align: middle;">
                                            <p class="size-16"
                                                style="Margin-top: 0;Margin-bottom: 0;font-size: 16px;line-height: 24px;"
                                                lang="x-size-16">[Greeting]&nbsp;<strong>[Sitename]</strong></p>
                                            <p class="size-16"
                                                style="Margin-top: 20px;Margin-bottom: 20px;font-size: 16px;line-height: 24px;"
                                                lang="x-size-16">[Message] [Thanks]</p>
                                        </div>
                                    </div>

                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div class="btn btn--flat btn--medium"
                                            style="Margin-bottom: 20px;text-align: center;">
                                            <a style="border-radius: 4px;display: inline-block;font-size: 12px;font-weight: bold;line-height: 22px;padding: 10px 20px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #ffffff !important;background-color: #7289DA;font-family: Georgia, serif;"
                                                href="[Link]">[Sitename]</a>

                                        </div>
                                    </div>

                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div class="divider"
                                            style="display: block;font-size: 2px;line-height: 2px;Margin-left: auto;Margin-right: auto;width: 40px;background-color: #c8c8c8;Margin-bottom: 20px;">
                                            &nbsp;</div>
                                    </div>

                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div style="vertical-align: middle;">
                                            <p class="size-12"
                                                style="Margin-top: 0;Margin-bottom: 20px;font-size: 12px;line-height: 19px;text-align: center;"
                                                lang="x-size-12">[Link]</p>
                                        </div>

                                        <div style="Margin-left: 20px;Margin-right: 20px;">
                                            <div style="vertical-align: middle;">
                                                <p style="Margin-top: 0;Margin-bottom: 20px;text-align: center;">Powered
                                                    By <a
                                                        style="text-decoration: underline;transition: opacity 0.1s ease-in;color: #41637e;"
                                                        href="https://namelessmc.com">NamelessMC</a></p>
                                                <p style="Margin-top: 0;Margin-bottom: 20px;text-align: center;">
                                                    Template By <a
                                                        style="text-decoration: underline;transition: opacity 0.1s ease-in;color: #41637e;"
                                                        href="https://github.com/VertisanPRO">Vertisan</a></p>
                                            </div>
                                        </div>

                                        <div style="Margin-left: 20px;Margin-right: 20px;">
                                            <div style="vertical-align: middle;">
                                                <p style="Margin-top: 0;Margin-bottom: 20px;">&#169; [Sitename] 2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>